<!-- Purpose: OmniLedger Create Account Page -->


<!DOCTYPE html>

<html lang="en">


<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Account</title>


    <!-- Poppins Font -->

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">


    <!-- CSS -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>



<body>


<div class="create-page">


    <!-- LEFT GREEN PANEL -->

    <div class="left-panel">


        <div class="logo">

            OMNILEDGER

        </div>



        <div class="tagline">


            <p class="small-text">

                Your Financial Ledger

            </p>



            <h1>

                Smart Tools for

                <br>

                <span>

                    Smarter Work

                </span>

            </h1>


        </div>


    </div>





    <!-- CREATE ACCOUNT SECTION -->

    <div class="create-section">


        <h2>

            Create Account

        </h2>



        <p class="description">

            Create your account to manage your financial records securely.

        </p>




        <form method="POST">
            <label>Name</label>

            <input
            type="text"
            name="name"
            placeholder="Full Name"
            required>




            <label>Email</label>

            <input 
            type="email"
            name="email"
            placeholder="Email"
            required>




            <label>Password</label>

            <input 
            type="password"
            name="password"
            placeholder="Password"
            required>




            <button type="submit">

                Create Account

            </button>



            <p class="create-account-text">

                Already have an account?

                <a href="/">

                    Login

                </a>

            </p>



        </form>



    </div>


</div>


</body>


</html>